<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- import Vue before Element -->
    <script src="/js/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/css/index.css">
    <!-- 引入组件库 -->
    <script src="/js/index.js"></script>
    <!--引入axios-->
    <script src="/js/axios.min.js"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .shopcar{
            width: 1000px;
            height: 500px;
            margin-left: 310px;
            margin-top: 15px;
        }
        .shopcar table th{
            color: #404040;
            font-weight: normal;
            font-size: 14px;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="shopcar">
        <el-table size="middle" current-row-key="id" :data="dataList" stripe highlight-current-row border>
            <el-table-column align="center" label="商品图片">
                <template slot-scope="scope">
                    　　　　<img :src="'/upload/'+scope.row.pimg" width="80" height="80" class="head_pic"/>
                    　　
                </template>
            </el-table-column>
            <el-table-column prop="ptitle" label="商品名称" align="center"></el-table-column>
            <el-table-column prop="pprice" label="价格" align="center"></el-table-column>
            <el-table-column prop="createTime" label="创建时间" align="center"></el-table-column>
            <el-table-column label="操作" align="center">
                <template slot-scope="scope">
                    <el-button type="danger" size="mini" icon="el-icon-delete" @click="handleDelete(scope.row)">
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination
                    class="pagiantion"
                    @current-change="handleCurrentChange"
                    :current-page="pagination.currentPage"
                    :page-size="pagination.pageSize"
                    layout="total, prev, pager, next, jumper"
                    :total="pagination.total">
            </el-pagination>
        </div>
    </div>
</div>
</body>
<script>
    new Vue({
        el:"#app",
        data:{
            pagination: {//分页相关模型数据
                currentPage: 1,//当前页码
                pageSize: 4,//每页显示的记录数
                total: 0,//总记录数
                queryString: null//查询条件
            },
            imgUrl: null,
            dataList: [],//当前页要展示的分页列表数据
            formData: {},//表单数据

        },
        created(){
            this.findPage();

        },
        methods:{
            findPage(){
                var param = {
                    currentPage: this.pagination.currentPage,
                    pageSize: this.pagination.pageSize,
                    queryString: this.pagination.queryString
                };

                //发送ajax请求，进行分页查询
                axios.post("/user/findShopCar", param).then((res) => {
                    this.pagination.total = res.data.total;
                    this.dataList = res.data.rows;
                    this.imgUrl = '/upload/' + this.dataList.pimg;
                });

            },
            //切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
            handleDelete(row) {
                //弹出确认框
                this.$confirm('你确定要删除当前购物车？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //发送ajax请求，将id提交到Controller
                    axios.post("/user/deleteShopCar/" + row.id).then((res) => {
                        if (res.data.flag) {
                            this.$message({
                                type: 'success',
                                message: res.data.message
                            })
                            this.findPage();
                        } else {
                            this.$message.error(res.data.message);
                        }
                    });
                }).catch(() => {
                    this.$message.info("操作已取消")
                })

            },

        }
    })
</script>
</html>